.timeline {
    font-size: 14px;
    font-weight: 300;
}

.timeline .form-control {
    font-size: 14px;
    font-weight: 300;
}

.timeline .btn {
    font-size: 14px;
    font-weight: 300;
}

.timeline li.message {
    padding: 21px;
}